@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: roboto;
  background-color: black;
  background-image: url('./images/occ-background-1.jpeg');
}

* { box-sizing: border-box; }

a {
  color: rgb(255, 255, 255);
}

/* header */
.header {
  background-color: rgb(66, 63, 63);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  z-index: 3;
}
  
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 8px;
}
  
  /* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
  
  /* menu icon */
  
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
  
.header .menu-icon .navicon {
  background: rgb(255, 255, 255);
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: rgb(255, 255, 255);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
  
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.headline {
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  position: absolute;
  width: 100%;
  height: auto;
  left: 0.01px;
  top: 92px;
  margin-top: 30px;
}

.heading-1 {
  position: static;
  width: 327px;
  height: 124px;
  left: 24px;
  top: 120px;
  font-family: crete Round;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0.001px;
}

.heading-2 {
  position: static;
  width: 100%;
  height: 27px;
  left: 24px;
  top: 256px;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px;
}

.content {
  position: static;
  width: 100%;
  height: auto;
  left: 24px;
  top: 295px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0.0001px;
}

.vectorframe {
  position: absolute;
  width: 100%;
  height: auto;
  left: 45%;
  top: 45%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.vector1 {
  position: absolute;
  top: 45.25%;
  bottom: 47.31%;
  margin-left: 0.001px;
  background: #fff;
  border: 0.496227px solid #262626;
  transform: matrix(-0.96, 0.27, 0.27, 0.96, 0, 0);
}

.vector2 {
  position: absolute;
  left: 34.57%;
  right: 37.52%;
  top: 60.59%;
  bottom: 9.36%;
  background: #fff;
  border: 0.496227px solid #ff6b00;
  transform: matrix(-0.96, 0.27, 0.27, 0.96, 0, 0);
}

.groupe4 {
  margin-top: 13px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
 
li {
  float: left;
  display: block;
  padding: 12px;
}

  /* Responsive layout - makes a one column-layout instead of a two-column layout */

@media (max-width: 800px) {
.flex-item-right .flex-item-left {
  flex: 100%;
}
}
